name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

#permissions:
#    contents: write
#    packages: write
#    issues: write
#    pull-requests: write
#    checks: write

env:
  DOTNET_VERSION: '10.0.x'

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: |
          dotnet restore

      - name: Build
        run: |
          dotnet build -c Release

      - name: Unit Tests
        run: |
          dotnet test  \
            --verbosity normal \
            --logger "trx;LogFileName=test_results.trx" \
            --results-directory ./TestResults

      - name: Publish Artifact Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./TestResults/
          retention-days: 3

      - name: Load Test Report History
        uses: actions/checkout@v6
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build Test Report
        uses: simple-elf/allure-report-action@v1.13
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: ./ThatChat.Backend/ThatChat.Backend/ThatChat.Backend.Tests/bin/Release/net10.0/allure-results

      - name: Publish Test Report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
#
#      - name: Test Report
#        if: always()
#        uses: EnricoMi/publish-unit-test-result-action@v2
#        with:
#          files: 'TestResults/*.trx'
